<v-container>

    <v-toolbar class="green" light>
        <v-toolbar-side-icon light></v-toolbar-side-icon>
        <v-toolbar-title class="hidden-sm-and-down">Toolbar</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn icon light>
            <v-icon>account_circle</v-icon>
        </v-btn>
        <v-btn icon light>
            <v-icon>favorite</v-icon>
        </v-btn>
        <v-btn icon light>
            <v-icon>more_vert</v-icon>
        </v-btn>
    </v-toolbar>

    <quote>I am an Hello component</quote>
    <p :class="[color]"> And the color is {{color}}</p>

    <v-layout row>
        <v-flex xs12>
            <v-card>
                <v-toolbar class="cyan" light>
                    <v-toolbar-side-icon light></v-toolbar-side-icon>
                    <v-toolbar-title>Inbox</v-toolbar-title>
                    <v-btn light icon>
                        <v-icon>search</v-icon>
                    </v-btn>
                </v-toolbar>
                <v-list two-line>
                    <template v-for="(user, userIndex) in users">

                        <v-list-item :key="user.email">
                            <v-list-tile avatar ripple>
                                <v-list-tile-avatar>
                                    <img v-bind:src="user.picture.thumbnail">
                                </v-list-tile-avatar>
                                </v-list-tile-avatar>
                                <v-list-tile-content>
                                    <v-list-tile-title v-html="fullNames[userIndex]"></v-list-tile-title>
                                    <v-list-tile-sub-title v-html="user.cell"></v-list-tile-sub-title>
                                </v-list-tile-content>
                            </v-list-tile>
                            <v-divider inset></v-divider>
                        </v-list-item>
                    </template>
                </v-list>
            </v-card>
        </v-flex>
    </v-layout>

    <br/>
    <v-divider></v-divider>
    <br/>
    <v-card hover raised>
        <v-card-row class="blue-grey darken-1">
            <v-card-title>
                <span class="white--text">Visit Space</span>
                <v-spacer></v-spacer>
                <v-menu id="space" bottom left origin="top right" transition="v-scale-transition">
                    <v-btn icon="icon" slot="activator" class="white--text">
                        <v-icon>more_vert</v-icon>
                    </v-btn>
                    <v-list>
                        <v-list-item>
                            <v-list-tile>
                                <v-list-tile-title>Remove Card</v-list-tile-title>
                            </v-list-tile>
                        </v-list-item>
                        <v-list-item>
                            <v-list-tile>
                                <v-list-tile-title>Send Feedback</v-list-tile-title>
                            </v-list-tile>
                        </v-list-item>
                    </v-list>
                </v-menu>
            </v-card-title>
        </v-card-row>
        <v-card-row img="http://www.lboro.ac.uk/media/wwwlboroacuk/external/content/research/sti/slide1.png" height="300px"></v-card-row>
        <v-card-text class="blue-grey darken-3 white--text">
            <div v-text="card_text"></div>
        </v-card-text>
        <v-card-row actions class="blue-grey darken-1 mt-0">
            <v-btn flat class="white--text">Get Started</v-btn>
            <v-spacer></v-spacer>
            <v-btn icon>
                <v-icon class="white--text">explore</v-icon>
            </v-btn>
        </v-card-row>
    </v-card>
    <br/>
    <v-data-table v-bind:headers="headers" :items="items" hide-actions class="elevation-1">
        <template slot="items" scope="props">
            <td>{{ props.item.name }}</td>
            <td class="text-xs-right">{{ props.item.calories }}</td>
            <td class="text-xs-right">{{ props.item.fat }}</td>
            <td class="text-xs-right">{{ props.item.carbs }}</td>
            <td class="text-xs-right">{{ props.item.protein }}</td>
            <td class="text-xs-right">{{ props.item.sodium }}</td>
            <td class="text-xs-right">{{ props.item.calcium }}</td>
            <td class="text-xs-right">{{ props.item.iron }}</td>
        </template>
    </v-data-table>
</v-container>